##### Tratamento para criaÃ§Ã£o da tabela tb_Pais

In [ ]:
import pandas as pd

### criando um dataframe com o arquivo de circuitos

circuits = 'Atividade_2/Fontes/Kaggle/F1_Championship/circuits.csv'
df_circuits = pd.read_csv(circuits)
df_circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,MontmelÃ³,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [20]:
### verificando quantos paises distintos temos nos circuitos

sorted(df_circuits['country'].unique())

['Argentina',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'China',
 'France',
 'Germany',
 'Hungary',
 'India',
 'Italy',
 'Japan',
 'Korea',
 'Malaysia',
 'Mexico',
 'Monaco',
 'Morocco',
 'Netherlands',
 'Portugal',
 'Qatar',
 'Russia',
 'Saudi Arabia',
 'Singapore',
 'South Africa',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'UAE',
 'UK',
 'USA',
 'United States']

In [ ]:
### criando um dataframe com o arquivo de world_population

world_population = 'Atividade_2/Fontes/Kaggle/World_Population/World_Population_Data.csv'
df_world_population = pd.read_csv(world_population)
df_world_population.head()

,Rank,Country,Population (2024),Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,"1,450,935,791",0.89 %,"12,866,195",488,"2,973,190","-630,830",2.0,28,37 %,17.78 %
1,2,China,"1,419,321,278",-0.23 %,"-3,263,655",151,"9,388,211","-318,992",1.0,40,66 %,17.39 %
2,3,United States,"345,426,571",0.57 %,"1,949,236",38,"9,147,420","1,286,132",1.6,38,82 %,4.23 %
3,4,Indonesia,"283,487,931",0.82 %,"2,297,864",156,"1,811,570","-38,469",2.1,30,59 %,3.47 %
4,5,Pakistan,"251,269,164",1.52 %,"3,764,669",326,"770,880","-1,401,173",3.5,20,34 %,3.08 %

In [18]:
### verificando quantos paises distintos temos nos world_population

sorted(df_world_population['Country'].unique())

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean Netherlands',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'CuraÃ§ao',
 'Cyprus',
 'Czech Republic (Czechia)',
 "CÃ´te d'Ivoire",
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North Korea',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'RÃ©union',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts & Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre & Miquelon',
 'Samoa',
 'San Marino',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos',
 'Tuvalu',
 'U.S. Virgin Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Wallis & Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [28]:
### listando os valores Ãºnicos de cada dataframe

paises_circuitos = df_circuits['country'].unique()
paises_populacao = df_world_population['Country'].unique()

### transformando as duas listas em conjuntos)

set_paises_circuitos = set(paises_circuitos)
set_paises_populacao = set(paises_populacao)

# usando o operador AND (&) para descobrir os paÃ­ses que existem em ambos os conjuntos

paises_em_comum = set_paises_circuitos & set_paises_populacao

# Calcula a diferenÃ§a: paÃ­ses que estÃ£o no arquivo de circuitos, mas nÃ£o no de populaÃ§Ã£o.

paises_a_corrigir = set_paises_circuitos - set_paises_populacao

# --- Apresentando a lista de aÃ§Ã£o ---

print(f"--- {len(paises_a_corrigir)} PaÃ­ses que Precisam de CorreÃ§Ã£o ---")
print(sorted(list(paises_a_corrigir)))

--- 4 PaÃ­ses que Precisam de CorreÃ§Ã£o ---
['Korea', 'UAE', 'UK', 'USA']

In [30]:
### criando a lista de correcao dos paises

correcoes = {
    'UK': 'United Kingdom',
    'USA': 'United States',
    'UAE': 'United Arab Emirates',
    'Korea': 'South Korea',
    'Russia': 'Russian Federation'
}

### aplicando a correcao no dataframe de circuitos

df_circuits['country_adj'] = df_circuits['country'].replace(correcoes)

### adicionando o pais South Korea no dataframe de populacao e salvando

df_world_population.rename(columns={'Country': 'nm_pais', 'Population (2024)': 'nr_populacao'}, inplace=True)
df_populacao_adj = df_world_population[['nm_pais', 'nr_populacao']].copy()

### Criando uma nova linha para a Coreia do Sul em um novo DataFrame

south_korea = pd.DataFrame([
    {'nm_pais': 'South Korea', 'nr_populacao': 51800000}
])

### Juntando o DataFrame original com a nova linha

df_populacao_new = pd.concat([df_populacao_adj, south_korea], ignore_index=True)

### Preparando o DataFrame Final para a Tabela `tb_Pais`

df_pais_final = df_populacao_new.copy()

### Garantindo que nao ha paises duplicados

df_pais_final.drop_duplicates(subset=['nm_pais'], inplace=True)

In [ ]:
### Salvando o DataFrame Final como CSV

caminho_saida = r'C:\Users\rodri\OneDrive - 5pwtcn\Cruzeiro_do_Sul_Virtual\Projeto_Integrador\Atividade_2\Tabelas\tb_Pais.csv'

try:
    ### Salvando o DataFrame 'df_pais_final' no caminho.
    df_pais_final.to_csv(
        caminho_saida,
        index=False,        # Para nÃ£o salvar o Ã­ndice do pandas como uma coluna.
        encoding='utf-8-sig' # Para garantir a compatibilidade com acentos.
    )
    print(f"âœ… Sucesso! O arquivo foi salvo em: {caminho_saida}")

except NameError:
    print("ðŸš¨ Erro: O DataFrame 'df_pais_final' nÃ£o foi encontrado. Certifique-se de que a cÃ©lula que o cria foi executada.")
except Exception as e:
    print(f"ðŸš¨ Ocorreu um erro ao salvar o arquivo: {e}")

âœ… Sucesso! O arquivo foi salvo em: C:\Users\rodri\OneDrive - 5pwtcn\Cruzeiro_do_Sul_Virtual\Projeto_Integrador\Atividade_2\Tabelas\tb_Pais.csv

##### Tratamento para a tabela tb_Circuitos

In [ ]:
import pandas as pd
import os

pais_csv = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Extracoes_SQL/tb_pais.csv'
circuits_csv ='C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Fontes/Kaggle/F1_Championship/circuits.csv'
circuits_length_csv = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Fontes/Circuits_Length.csv'

try:
       
    ### carregando o arquivo tb_Pais jÃ¡ com os Ids do banco
    df_pais = pd.read_csv(pais_csv)

    ### carregando o arquivo circuits com os dados dos circuitos
    df_circuitos_original = pd.read_csv(circuits_csv)

    ### carregando o arquivo circuits com as extensÃµes das pistas
    df_extensoes = pd.read_csv(circuits_length_csv, delimiter=';')

  
    ### juntando os dados de circuitos com as extensÃµes
    ### usando o 'left_on' e 'right_on' porque os nomes das colunas de junÃ§Ã£o sÃ£o diferentes
    df_merged = pd.merge(
        left=df_circuitos_original,
        right=df_extensoes,
        left_on='name',
        right_on='Circuit',
        how='left'
    )

    ### fazendo a padronizacao dos nomes dos paÃ­ses
    correcoes_paises = {
        'UK': 'United Kingdom',
        'USA': 'United States',
        'UAE': 'United Arab Emirates',
        'Korea': 'South Korea',
        'Russia': 'Russian Federation'
    }
    df_merged['country_padronizado'] = df_merged['country'].replace(correcoes_paises)

    ### criando o dicionÃ¡rio de mapeamento: {'nm_pais': id_pais}
    mapa_pais_para_id = pd.Series(df_pais['idpais'].values, index=df_pais['nm_pais']).to_dict()
    
    ### usando o mapa para criar a nova coluna de chave estrangeira
    df_merged['tb_Pais_idpais'] = df_merged['country_padronizado'].map(mapa_pais_para_id)

    ### selecionando apenas as colunas para a tabela final.
    df_final_circuito = df_merged[['name', 'Length KM', 'tb_Pais_idpais']].copy()
    
    ### renomeando as colunas para bater com a tabela do banco de dados.
    df_final_circuito.rename(columns={
        'name': 'nm_circuito',
        'Length KM': 'nr_extensao'
    }, inplace=True)
    
    ### salvando o arquivo CSV final
    pasta_saida = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Tabelas'
    nome_arquivo = 'tb_Circuito.csv'
    caminho_completo = os.path.join(pasta_saida, nome_arquivo)
    
    os.makedirs(pasta_saida, exist_ok=True)
    
    df_final_circuito.to_csv(caminho_completo, index=False, encoding='utf-8-sig')
    
    print(f"\nâœ… Sucesso! O arquivo '{caminho_completo}' foi salvo e estÃ¡ pronto para a carga no banco.")


except FileNotFoundError as e:
    print(f"ðŸš¨ ERRO: Arquivo nÃ£o foi encontrado. Verifique os caminhos e nomes dos arquivos. Detalhe: {e}")
except KeyError as e:
    print(f"ðŸš¨ ERRO de Chave: Uma coluna esperada nÃ£o foi encontrada. Verifique os nomes das colunas nos arquivos CSV. Detalhe: {e}")
except Exception as e:
    print(f"ðŸš¨ Ocorreu um erro inesperado: {e}")

âœ… Sucesso! O arquivo 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Tabelas\tb_Circuito.csv' foi salvo e estÃ¡ pronto para a carga no banco.

##### Tratamento para a tabela tb_Equipes

In [2]:
import pandas as pd
import os

pais_csv = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Extracoes_SQL/tb_pais.csv'
constructors_csv ='C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Fontes/Kaggle/F1_Championship/constructors.csv'

try:
    
    ### carregandos os dados da tabela Pais com os ids do banco
    df_pais = pd.read_csv(pais_csv)

    ### carregando o arquivo com os dados das equipes
    df_constructors = pd.read_csv(constructors_csv)
    
    ### mapenando os adjetivos de nacionalidade para os nomes de paises
    ### usando como referencia a tabela tb_Pais
    correcoes_nacionalidades = {
        'British': 'United Kingdom',
        'American': 'United States',
        'French': 'France',
        'German': 'Germany',
        'Italian': 'Italy',
        'Japanese': 'Japan',
        'Dutch': 'Netherlands',
        'Swiss': 'Switzerland',
        'Austrian': 'Austria',
        'Brazilian': 'Brazil',
        'Spanish': 'Spain',
        'Malaysian': 'Malaysia',
        'Indian': 'India',
        'Irish': 'Ireland',
        'Canadian': 'Canada',
        'Mexican': 'Mexico',
        'Argentine': 'Argentina',
        'South African': 'South Africa',
        'New Zealander': 'New Zealand',
        'Belgian': 'Belgium',
        'Monegasque': 'Monaco',
        'Rhodesian': 'Zimbabwe',
        'East German': 'Germany',
        'Russian': 'Russian Federation',
        'Australian': 'Australia'
    }
    
    ### criando uma nova coluna com os nomes de paises padronizados
    df_constructors['pais_padronizado'] = df_constructors['nationality'].replace(correcoes_nacionalidades)


    ### criando o dicionÃ¡rio de mapeamento: {'nm_pais': idpais}
    mapa_pais_para_id = pd.Series(df_pais.idpais.values, index=df_pais.nm_pais).to_dict()
    
    ### usando o mapa para criar a nova coluna de chave estrangeira
    df_constructors['tb_Pais_idpais'] = df_constructors['pais_padronizado'].map(mapa_pais_para_id)
    
    
    ### verificando se alguma equipe nao conseguiu encontrar um ID de pais correspondente
    nulos = df_constructors['tb_Pais_idpais'].isnull().sum()
    if nulos > 0:
        print(f"\nðŸš¨ AtenÃ§Ã£o: {nulos} equipe(s) nÃ£o puderam ser mapeadas para um ID de paÃ­s.")
        print("As seguintes nacionalidades/paÃ­ses precisam ser adicionadas ao mapa de correÃ§Ã£o:")
        ### Mostra as nacionalidades que resultaram em um ID nulo
        print(df_constructors[df_constructors['tb_Pais_idpais'].isnull()]['pais_padronizado'].unique())
    else:
        print("âœ… ValidaÃ§Ã£o: Todas as equipes foram mapeadas para um ID de paÃ­s com sucesso.")


    ### selecionando apenas as colunas que precisamos para a tabela final.
    df_final_equipe = df_constructors[['name', 'tb_Pais_idpais']].copy()
    
    ### renomeando as colunas para bater com a nossa tabela do banco.
    df_final_equipe.rename(columns={'name': 'nm_equipe'}, inplace=True)
    
    ### convertendo a coluna da chave estrangeira para o tipo de dado inteiro
    df_final_equipe['tb_Pais_idpais'] = df_final_equipe['tb_Pais_idpais'].astype('Int64')
    
    ### Salvando o arquivo final em csv
    pasta_saida = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Tabelas'
    nome_arquivo = 'tb_Equipe.csv'
    caminho_completo = os.path.join(pasta_saida, nome_arquivo)
    
    os.makedirs(pasta_saida, exist_ok=True)
    
    df_final_equipe.to_csv(caminho_completo, index=False, encoding='utf-8-sig')
    
    print(f"\nâœ… Sucesso! O arquivo '{caminho_completo}' foi salvo e estÃ¡ pronto para a carga no banco.")

except FileNotFoundError as e:
    print(f"ðŸš¨ ERRO: Arquivo nÃ£o foi encontrado. Verifique o caminho e o nome. Detalhe: {e}")
except KeyError as e:
    print(f"ðŸš¨ ERRO de Chave: Uma coluna esperada nÃ£o foi encontrada. Verifique os nomes das colunas. Detalhe: {e}")
except Exception as e:
    print(f"ðŸš¨ Ocorreu um erro inesperado: {e}")

âœ… ValidaÃ§Ã£o: Todas as equipes foram mapeadas para um ID de paÃ­s com sucesso.

âœ… Sucesso! O arquivo 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Tabelas\tb_Equipe.csv' foi salvo e estÃ¡ pronto para a carga no banco.

##### Tratamento para a tabela tb_Provas

In [21]:
import pandas as pd
import os

try:
    # --- Passo 1: Carregar as fontes de dados ---
    circuitos_db_csv = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Extracoes_SQL/tb_ciruito.csv'
    races_csv ='C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Fontes/Kaggle/F1_Championship/races.csv'
    circuitosKaggle_csv = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Fontes/Kaggle/F1_Championship/circuits.csv'
    
    df_races = pd.read_csv(races_csv)
    df_circuitos_db = pd.read_csv(circuitos_db_csv) 
    df_circuitos_kaggle = pd.read_csv(circuitosKaggle_csv)
    
    print("--- Arquivos carregados ---")

    # --- Passo 2: Mapa de CorreÃ§Ã£o de Nomes (incluindo limpeza de strings) ---
    df_circuitos_kaggle['join_key'] = df_circuitos_kaggle['name'].str.lower().str.strip()
    df_circuitos_db['join_key'] = df_circuitos_db['nm_circuito'].str.lower().str.strip()
    
    # --- Passo 3: Criar o Mapeamento de IDs ---
    ponte_id_nome = df_circuitos_kaggle[['circuitId', 'join_key']]
    mapa_df = pd.merge(
        ponte_id_nome,
        df_circuitos_db[['idcircuito', 'join_key']],
        on='join_key'
    )
    mapa_final_ids = mapa_df[['circuitId', 'idcircuito']]
    
    # --- Passo 4: Juntar o mapa com os dados das corridas ---
    df_provas_com_id_final = pd.merge(
        df_races,
        mapa_final_ids,
        on='circuitId',
        how='left'
    )
    
    # --- Passo 5 (NOVO): Remover as linhas que nÃ£o foram mapeadas ---
    linhas_antes = len(df_provas_com_id_final)
    # .dropna() remove as linhas onde a coluna 'idcircuito' Ã© Nula/Vazia
    df_provas_com_id_final.dropna(subset=['idcircuito'], inplace=True)
    linhas_depois = len(df_provas_com_id_final)
    
    print(f"\nLimpeza de registros nÃ£o mapeados concluÃ­da.")
    print(f"Total de linhas original: {linhas_antes}")
    print(f"Total de linhas removidas: {linhas_antes - linhas_depois}")
    print(f"Total de linhas final: {linhas_depois}")

    # --- Passo 6: Formatar as colunas restantes ---
    df_provas_com_id_final['time'] = df_provas_com_id_final['time'].replace('\\N', '00:00:00')
    df_provas_com_id_final['dt_prova'] = pd.to_datetime(df_provas_com_id_final['date'] + ' ' + df_provas_com_id_final['time'], errors='coerce')
    df_provas_com_id_final['nm_situacao'] = 'Finished'

    # --- Passo 7: Selecionar, Renomear e Salvar o arquivo final ---
    df_final_prova = df_provas_com_id_final[['dt_prova', 'nm_situacao', 'idcircuito']].copy()
    df_final_prova.rename(columns={'idcircuito': 'id_circuito'}, inplace=True)
    df_final_prova['id_circuito'] = df_final_prova['id_circuito'].astype('Int64')
    
    pasta_saida = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Tabelas'
    nome_arquivo = 'tb_Prova.csv'
    caminho_completo = os.path.join(pasta_saida, nome_arquivo)
    os.makedirs(pasta_saida, exist_ok=True)
    df_final_prova.to_csv(caminho_completo, index=False, encoding='utf-8-sig')
    
    print(f"\nâœ… Sucesso! O arquivo '{caminho_completo}' foi salvo e estÃ¡ 100% limpo.")

except Exception as e:
    print(f"ðŸš¨ Ocorreu um erro inesperado: {e}")

--- Arquivos carregados ---

Limpeza de registros nÃ£o mapeados concluÃ­da.
Total de linhas original: 1125
Total de linhas removidas: 75
Total de linhas final: 1050

âœ… Sucesso! O arquivo 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Tabelas\tb_Prova.csv' foi salvo e estÃ¡ 100% limpo.

##### Tratamento para a tabela tb_Pilotos

In [ ]:
import pandas as pd
import os


caminho_drivers = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Fontes/Kaggle/F1_Championship/drivers.csv'
caminho_constructors = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Fontes/Kaggle/F1_Championship/constructors.csv'
caminho_results = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Fontes/Kaggle/F1_Championship/results.csv'
caminho_tb_pais = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Extracoes_SQL/tb_pais.csv'
caminho_tb_equipe = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Extracoes_SQL/tb_equipe.csv'
pasta_saida = 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Tabelas'

try:
    ### carregando os arquivos
    df_drivers = pd.read_csv(caminho_drivers)
    df_constructors = pd.read_csv(caminho_constructors)
    df_results = pd.read_csv(caminho_results)
    df_pais_db = pd.read_csv(caminho_tb_pais)
    df_equipe_db = pd.read_csv(caminho_tb_equipe)


    #### prepararando Dados dos Pilotos (nome e nacionalidade)
    df_drivers['nm_piloto'] = df_drivers['forename'] + ' ' + df_drivers['surname']
    df_drivers.rename(columns={'dob': 'dt_nascimento'}, inplace=True)
    df_drivers['nationality'] = df_drivers['nationality'].str.strip()
    correcoes_nacionalidades = {
        'British': 'United Kingdom', 'American': 'United States', 'French': 'France', 'German': 'Germany', 'Italian': 'Italy', 'Japanese': 'Japan',
        'Dutch': 'Netherlands', 'Swiss': 'Switzerland', 'Austrian': 'Austria', 'Brazilian': 'Brazil', 'Spanish': 'Spain', 'Malaysian': 'Malaysia',
        'Indian': 'India', 'Irish': 'Ireland', 'Canadian': 'Canada', 'Mexican': 'Mexico', 'Argentine': 'Argentina', 'South African': 'South Africa',
        'New Zealander': 'New Zealand', 'Belgian': 'Belgium', 'Monegasque': 'Monaco', 'Rhodesian': 'Zimbabwe', 'East German': 'Germany', 
        'Russian': 'Russian Federation', 'Finnish': 'Finland', 'Polish': 'Poland', 'Australian': 'Australia', 'Colombian': 'Colombia', 
        'Portuguese': 'Portugal', 'Hungarian': 'Hungary', 'Danish': 'Denmark', 'Swedish': 'Sweden', 'Venezuelan': 'Venezuela', 
        'Chilean': 'Chile', 'Liechtensteiner': 'Liechtenstein', 'Uruguayan': 'Uruguay', 'Thai': 'Thailand', 'Indonesian': 'Indonesia', 
        'Chinese': 'China', 'Argentinian': 'Argentina', 'Czech': 'Czech Republic (Czechia)', 'American-Italian': 'United States', 'Argentine-Italian': 'Argentina'
    }
    df_drivers['pais_padronizado'] = df_drivers['nationality'].replace(correcoes_nacionalidades)

    ### criando relacao piloto -> equipe (com correcao de nomes)
    correcoes_equipes = {
        'Brabham-Repco': 'Brabham', 'Brabham-Ford': 'Brabham', 'Brabham-Climax': 'Brabham', 'Brabham-BRM': 'Brabham', 'Brabham-Alfa Romeo': 'Brabham',
        'Cooper-Climax': 'Cooper', 'Cooper-Maserati': 'Cooper', 'Cooper-ATS': 'Cooper', 'Cooper-Alfa Romeo': 'Cooper', 'Cooper-BRM': 'Cooper',
        'Lotus-Climax': 'Lotus', 'Lotus-Ford': 'Lotus', 'BRM-Ford': 'BRM', 'Behra-Porsche': 'Porsche', 'Alpine F1 Team': 'Alpine'
    }
    df_constructors['name_padronizado'] = df_constructors['name'].replace(correcoes_equipes)
    df_ultima_equipe = df_results.sort_values('raceId').drop_duplicates(subset=['driverId'], keep='last')
    df_ultima_equipe = pd.merge(df_ultima_equipe[['driverId', 'constructorId']], df_constructors[['constructorId', 'name_padronizado']], on='constructorId', how='left')
    df_completo = pd.merge(df_drivers, df_ultima_equipe[['driverId', 'name_padronizado']], on='driverId', how='left')
    df_completo.rename(columns={'name_padronizado': 'nm_equipe'}, inplace=True)


    ### mapeando para chaves estrangeiras
    mapa_pais_para_id = pd.Series(df_pais_db.idpais.values, index=df_pais_db.nm_pais).to_dict()
    mapa_equipe_para_id = pd.Series(df_equipe_db.idequipe.values, index=df_equipe_db.nm_equipe).to_dict()
    df_completo['tb_Pais_idpais'] = df_completo['pais_padronizado'].map(mapa_pais_para_id)
    df_completo['tb_Equipe_idequipe'] = df_completo['nm_equipe'].map(mapa_equipe_para_id)
    print("Mapeamento para IDs de PaÃ­s e Equipe foi executado.")

    ### removendo Pilotos nao mapeados
    linhas_antes = len(df_completo)
    df_completo.dropna(subset=['tb_Equipe_idequipe', 'tb_Pais_idpais'], inplace=True)
    linhas_depois = len(df_completo)
    print(f"\nLimpeza final: {linhas_antes - linhas_depois} pilotos com dados de equipe inconsistentes foram removidos.")
    
    ### finalizando o dataframe e salvando
    df_final_piloto = df_completo[['nm_piloto', 'dt_nascimento', 'tb_Pais_idpais', 'tb_Equipe_idequipe']].copy()
    df_final_piloto['tb_Pais_idpais'] = df_final_piloto['tb_Pais_idpais'].astype('Int64')
    df_final_piloto['tb_Equipe_idequipe'] = df_final_piloto['tb_Equipe_idequipe'].astype('Int64')
    
    nome_arquivo = 'tb_Piloto.csv'
    caminho_completo = os.path.join(pasta_saida, nome_arquivo)
    os.makedirs(pasta_saida, exist_ok=True)
    df_final_piloto.to_csv(caminho_completo, index=False, encoding='utf-8-sig')
    
    print(f"\nâœ… Sucesso! O arquivo '{caminho_completo}' foi salvo com {linhas_depois} registros limpos e prontos para a carga.")

except Exception as e:
    print(f"ðŸš¨ Ocorreu um erro inesperado: {e}")

--- Arquivos carregados com sucesso! ---
DataFrame de pilotos e nacionalidades preparado.
RelaÃ§Ã£o piloto -> equipe criada e padronizada.
Mapeamento para IDs de PaÃ­s e Equipe foi executado.

Limpeza final: 64 pilotos com dados de equipe inconsistentes foram removidos.

âœ… Sucesso! O arquivo 'C:/Users/rodri/OneDrive - 5pwtcn/Cruzeiro_do_Sul_Virtual/Projeto_Integrador/Atividade_2/Tabelas\tb_Piloto.csv' foi salvo com 797 registros limpos e prontos para a carga.

##### Tratamento tb_Resultados

In [3]:
import pandas as pd
import os
import numpy as np

# --- Caminhos dos Arquivos ---
pasta_kaggle = r'C:\Users\rodri\OneDrive - 5pwtcn\Cruzeiro_do_Sul_Virtual\Projeto_Integrador\Atividade_2\Fontes\Kaggle\F1_Championship'
pasta_sql = r'C:\Users\rodri\OneDrive - 5pwtcn\Cruzeiro_do_Sul_Virtual\Projeto_Integrador\Atividade_2\Extracoes_SQL'
pasta_saida = r'C:\Users\rodri\OneDrive - 5pwtcn\Cruzeiro_do_Sul_Virtual\Projeto_Integrador\Atividade_2\Tabelas'

caminho_drivers = os.path.join(pasta_kaggle, 'drivers.csv')
caminho_constructors = os.path.join(pasta_kaggle, 'constructors.csv')
caminho_results = os.path.join(pasta_kaggle, 'results.csv')
caminho_races = os.path.join(pasta_kaggle, 'races.csv')
caminho_circuits_kaggle = os.path.join(pasta_kaggle, 'circuits.csv')

caminho_tb_pais_db = os.path.join(pasta_sql, 'tb_pais.csv')
caminho_tb_equipe_db = os.path.join(pasta_sql, 'tb_equipe.csv')
caminho_tb_circuito_db = os.path.join(pasta_sql, 'tb_ciruito.csv')
caminho_tb_prova_db = os.path.join(pasta_sql, 'tb_Prova.csv')
caminho_tb_piloto_db = os.path.join(pasta_sql, 'tb_Piloto.csv')

try:
    # --- Passo 1: Carregamento e Mapeamentos ---
    df_drivers = pd.read_csv(caminho_drivers)
    # â¬‡ï¸â¬‡ï¸â¬‡ï¸ CORREÃ‡ÃƒO CRÃTICA AQUI â¬‡ï¸â¬‡ï¸â¬‡ï¸
    df_results_kaggle = pd.read_csv(caminho_results, delimiter=';') # Especificando o delimitador correto
    
    df_races_kaggle = pd.read_csv(caminho_races)
    df_circuits_kaggle = pd.read_csv(caminho_circuits_kaggle)
    df_piloto_db = pd.read_csv(caminho_tb_piloto_db)
    df_prova_db = pd.read_csv(caminho_tb_prova_db)
    df_circuito_db = pd.read_csv(caminho_tb_circuito_db)
    
    df_drivers['nm_piloto'] = df_drivers['forename'] + ' ' + df_drivers['surname']
    mapa_piloto_df = pd.merge(df_drivers[['driverId', 'nm_piloto']], df_piloto_db[['idpiloto', 'nm_piloto']], on='nm_piloto')
    mapa_driverid_para_idpiloto = pd.Series(mapa_piloto_df.idpiloto.values, index=mapa_piloto_df.driverId).to_dict()
    
    mapa_circuito_df = pd.merge(df_circuits_kaggle[['circuitId', 'name']], df_circuito_db[['idcircuito', 'nm_circuito']], left_on='name', right_on='nm_circuito')
    mapa_circuitid_para_idcircuito = pd.Series(mapa_circuito_df.idcircuito.values, index=mapa_circuito_df.circuitId).to_dict()
    df_races_kaggle['id_circuito_db'] = df_races_kaggle['circuitId'].map(mapa_circuitid_para_idcircuito)
    df_races_kaggle['date'] = pd.to_datetime(df_races_kaggle['date']).dt.strftime('%Y-%m-%d')
    df_prova_db.columns = df_prova_db.columns.str.strip()
    df_prova_db['dt_prova'] = pd.to_datetime(df_prova_db['dt_prova']).dt.strftime('%Y-%m-%d')
    mapa_prova_df = pd.merge(df_races_kaggle[['raceId', 'date', 'id_circuito_db']], df_prova_db[['idprova', 'dt_prova', 'tb_Circuito_idcircuito']], left_on=['date', 'id_circuito_db'], right_on=['dt_prova', 'tb_Circuito_idcircuito'])
    mapa_raceid_para_idprova = pd.Series(mapa_prova_df.idprova.values, index=mapa_prova_df.raceId).to_dict()
    
    df_results_com_ids = df_results_kaggle.copy()
    df_results_com_ids['ID_PROVA'] = df_results_com_ids['raceId'].map(mapa_raceid_para_idprova)
    df_results_com_ids['ID_PILOTO'] = df_results_com_ids['driverId'].map(mapa_driverid_para_idpiloto)
    print("Mapeamento e preparaÃ§Ã£o concluÃ­dos.")

    # --- Passo 2: TransformaÃ§Ã£o Simplificada dos Dados ---
    df_results_com_ids['nr_tempo_prova'] = pd.to_timedelta(df_results_com_ids['milliseconds'], unit='ms', errors='coerce')
    df_results_com_ids['nr_tempo_prova'] = df_results_com_ids['nr_tempo_prova'].apply(
        lambda x: f"{int(x.total_seconds() // 3600):02}:{int((x.total_seconds() % 3600) // 60):02}:{x.total_seconds() % 60:06.3f}" if pd.notna(x) else None
    )
    
    df_results_com_ids['nr_melhor_volta'] = df_results_com_ids['fastestLapTime'].replace('\\N', np.nan)
    df_results_com_ids['nr_colocacao_final'] = df_results_com_ids['positionText'].astype(str).apply(lambda x: x if x.isdigit() else '0')
    df_results_com_ids.rename(columns={'grid': 'nr_posicao_grid'}, inplace=True)
    print("Colunas de dados transformadas e renomeadas.")
    
    # --- Passo 3: FinalizaÃ§Ã£o e Salvamento ---
    colunas_finais = ['ID_PROVA', 'ID_PILOTO', 'nr_tempo_prova', 'nr_colocacao_final', 'nr_posicao_grid', 'nr_melhor_volta']
    df_final_resultado = df_results_com_ids[colunas_finais].copy()
    
    df_final_resultado.dropna(subset=['ID_PROVA', 'ID_PILOTO'], inplace=True)
    
    nome_arquivo = 'tb_Resultado.csv'
    caminho_completo = os.path.join(pasta_saida, nome_arquivo)
    os.makedirs(pasta_saida, exist_ok=True)
    df_final_resultado.to_csv(caminho_completo, index=False, encoding='utf-8-sig')
    
    print(f"\nâœ… Sucesso! O arquivo '{caminho_completo}' foi salvo com a abordagem simplificada.")

except Exception as e:
    print(f"ðŸš¨ Ocorreu um erro inesperado: {e}")

Mapeamento e preparaÃ§Ã£o concluÃ­dos.
Colunas de dados transformadas e renomeadas.

âœ… Sucesso! O arquivo 'C:\Users\rodri\OneDrive - 5pwtcn\Cruzeiro_do_Sul_Virtual\Projeto_Integrador\Atividade_2\Tabelas\tb_Resultado.csv' foi salvo com a abordagem simplificada.